@using Carpare.Models.Entity
@model Car[]

@{
    ViewBag.Title = "CarLister";
}

<h2>CarLister</h2>

<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>


    <br />
    <br />
    @foreach (Car c in Model)
    {
        <!--PHOTO-->
        <sDiv id="lel">
            <p> <img src="@c.Url" alt="Car's Photo" width="300" height="300" /> </p>
            <p>Car Brand And Model: @c.Brand    @c.Model</p>
            <p>Owner: @c.Owner</p>    <p>Year Of Production: @c.YearOfProduction</p>
            <p>KM: @c.km</p>

            <form action="~/Car/CarLister" method="post">
                Enter Your Comment Here! <input type="text" name="comment" />
                <input type="hidden" name="carId" value="@c.carId" />
                <input type="submit" value="Submit">

            </form>
        </sDiv>
    }

    <p>@ViewBag.message</p>
</div>