@using Carpare.Models.Entity
@model Car[]
@{
    ViewBag.Title = "CarLister";
}

<h2>CarLister</h2>
<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>
    <table border="1" cellpadding="5">
        <caption>Car List</caption>
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Owner</th>
                <th>Year Of Production</th>
                <th>Km</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Car c in Model)
            {
                <tr>
                    <td>@c.Brand</td>
                    <td>@c.Model</td>
                    <td>@c.Owner</td>
                    <td>@c.YearOfProduction</td>
                    <td>@c.km</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<p>@ViewBag.message</p>
