@using Carpare.Models.Entity
@model Car[]
@{
    ViewBag.Title = "My Cars";
}



<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>
    <h2>My Cars</h2>

    <br />
    <br />
    <br />
    @foreach (Car c in Model)
    {
        <!--PHOTO-->
        <sDiv id="lel">
            <p> <img src="@c.Url" alt="Car's Photo" width="300" height="300" /> </p>
            <p>Car ID: @c.carId</p>
            <p>Car Brand And Model: @c.Brand    @c.Model</p>
            <p>Year Of Production: @c.YearOfProduction</p>
            <p>KM: @c.km</p>
        </sDiv>
    }

    <p>@ViewBag.message</p>
</div>