@using Carpare.Models.Entity
@model Comment[]

@{
    ViewBag.Title = "CommentShower";
}

<h2>CommentShower</h2>

<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>
    @if (Model != null)
    {
        <table border="1" cellpadding="5">
            <caption>Comments</caption>

            <tr>
                <th>CarId</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Car Owner</th>
                <th>Year Of Production</th>
                <th>KM</th>
                <th>URL</th>
                <th>Comment Owner</th>
                <th>Comment</th>
            </tr>

            <tbody>

                @foreach (Comment c in Model)
                {
                    <tr>
                        <td>@TempData["carId"]</td>
                        <td>@TempData["Brand"]</td>
                        <td>@TempData["Model"]</td>
                        <td>@TempData["Owner"]</td>
                        <td>@TempData["YearOfProduction"]</td>
                        <td>@TempData["km"]</td>
                        <td><img src="@TempData["Url"]" width="200" height="200" /></td>
                        <td>@c.UserId</td>
                        <td>@c.comment</td>
                    </tr>
                }


            </tbody>
        </table>
    }
    <p>@ViewBag.message</p>
</div>