@using Carpare.Models.Entity
@model Comment[]

@{
    ViewBag.Title = "Comments for " + TempData["Brand"] + " " + TempData["Model"];
}
<head>
    <style>
        p.double {
            border-style: double;
        }
    </style>
</head>


<div id="main">
    <span style="font-size:30px;cursor:pointer;float:right" onclick="openNav()">&#9776; MENU</span>
    <h2>Comments for @TempData["Brand"] @TempData["Model"]</h2>
    <sDiv id="lel">
        <p> <img src="@TempData["Url"]" alt="Car's Photo" width="300" height="300" /> </p>
        <p>Car ID: @TempData["carId"]</p>
        <p>Car Brand And Model: @TempData["Brand"]    @TempData["Model"]</p>
        <p>Year Of Production: @TempData["YearOfProduction"]</p>
        <p>KM: @TempData["km"]</p>
        <p>Transmission Type: @TempData["TransmissionType"]</p>
        <p>Fuel: @TempData["Fuel"]</p>
        <p>Top Speed (km/h): @TempData["TopSpeed"] km/h</p>
        <p>Acceleration (0-100 km/h): @TempData["Acceleration"] s</p>
        <p>Urban Consumption: @TempData["UrbanConsuption"] l/100km</p>
        <p>Wheel Drive: @TempData["WheelDrive"]</p>
    </sDiv>
    <div>
        @if (Model != null)
        {
            foreach (Comment c in Model)
            {
                <p><em><ins>@c.UserId</ins></em></p>
                <p class="double">@c.comment</p>
            }
        }
        else
        {
            <p>@ViewBag.message</p>
        }

        
    </div>
</div>